* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: antiquewhite;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding-bottom: 3rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.game-wrapper {
  display: flex;
  justify-content: center;
}

canvas {
  background-color: #f3f3f3;
  border: 1px solid #333333;
}
